<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mata Pelajaran - {% if current_mapel == 'pkn' %} Pendidikan Kewarganegaraan {% elif current_mapel == 'bin' %} Bahasa Indonesia {% elif current_mapel == 'big' %} Bahasa Inggris {% elif current_mapel == 'ipa' %} Ilmu Pengetahuan Alam {% elif current_mapel == 'ips' %} Ilmu Pengetahuan Sosial {% elif current_mapel == 'mtk' %} Matematika {% elif current_mapel == 'pjo' %} Pendidikan Jasmani dan Olahraga {% endif %}</title>
        <link rel="icon" type="image/x-icon" href="../assets/img/SchoolIcon.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="w-full mt-10 mb-20">
            <!-- Container -->
            <div class="w-container flex m-auto">
                <!-- Side Left Area -->
                <div class="w-sideleft mr-20">
                    <!-- Main Menu Area -->
                    <div class="mb-6">
                        <a href="/analisis">
                            <div class="py-3 px-5 border rounded-lg mb-3">
                                <div class="flex items-center">
                                    <img src="../assets/img/badge.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Analisis Nilai Hasil Belajar</div>
                                </div>
                            </div>
                        </a>

                        <a href="/riwayat">
                            <div class="py-3 px-5 border rounded-lg bg-white mb-3">
                                <div class="flex items-center">
                                    <img src="../assets/img/history.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Riwayat</div>
                                </div>
                            </div>
                        </a>
                        
                        <a href="/kelas">
                            <div class="py-3 px-5 border rounded-lg bg-white">
                                <div class="flex items-center">
                                    <img src="../assets/img/kelas.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Kelas</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Main Menu Area -->

                    <!-- List Mata Pelajaran Area -->
                    <div>
                        <!-- Heading List Mata Pelajaran -->
                        <div class="font-plusjakarta text-base font-semibold text-netral-500 mb-3">
                            Mata Pelajaran (7)
                        </div>
                        <!-- End Heading List Mata Pelajaran -->

                        <!-- List Mata Pelajaran -->
                        <div>
                            <!-- Mata Pelajaran -->
                            <a href="/mapel/pkn">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'pkn' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-1.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Pendidikan Kewarganegaraan
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.PKN | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/bin">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'bin' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-2.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Bahasa Indonesia
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.BIN | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/big">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'big' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-3.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Bahasa Inggris
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.BIG | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/ipa">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'ipa' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-4.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Ilmu Pengetahuan Alam
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.IPA | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/ips">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'ips' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-5.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Ilmu Pengetahuan Sosial
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.IPS | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/mtk">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'mtk' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-6.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Matematika
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.MTK | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/pjo">
                                <div class="border p-4 rounded-lg mb-3 {% if current_mapel == 'pjo' %}border-primary bg-primary-100{% endif %}">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-7.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Pendidikan Jasmani dan Olahraga
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.PJO | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->
                        </div>
                        <!-- End List Mata Pelajaran -->
                    </div>
                    <!-- End List Mata Pelajaran Area -->
                </div>
                <!-- End Side Left Area -->

                <!-- Side Right Area -->
                <div class="w-sideright">
                    <!-- Account Area -->
                    <div class="flex items-center mb-10 relative">
                        <div class="flex items-center">
                            <img src="../assets/img/profile.svg" alt="" class="mr-2">
                            <div class="font-plusjakarta font-semibold text-base text-netral-500">
                                {{ username }}
                            </div>
                        </div>

                        <img src="../assets/img/Menu.svg" alt="" class="ml-auto cursor-pointer" id="menu-btn">

                        <div class="py-3 px-5 bg-white hover:bg-grey-100 border rounded-lg absolute right-0 top-10 hidden" id="menu-out">
                            <a href="/logout" class="flex items-center ">
                                <img src="../assets/img/logout.svg" alt="" class="mr-1">
                                <div class="font-plusjakarta text-base text-danger">
                                    Keluar
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Account Area -->

                    <!-- Result Area -->
                    <div>
                        <!-- Main Result Area -->
                        <div class="mb-10">
                            <div class="mb-3">
                                <div class="font-plusjakarta font-semibold text-netral-500 text-2xl mb-1">
                                    {% if current_mapel == 'pkn' %}
                                    Pendidikan Kewarganegaraan
                                    {% elif current_mapel == 'bin' %}
                                    Bahasa Indonesia
                                    {% elif current_mapel == 'big' %}
                                    Bahasa Inggris
                                    {% elif current_mapel == 'ipa' %}
                                    Ilmu Pengetahuan Alam
                                    {% elif current_mapel == 'ips' %}
                                    Ilmu Pengetahuan Sosial
                                    {% elif current_mapel == 'mtk' %}
                                    Matematika
                                    {% elif current_mapel == 'pjo' %}
                                    Pendidikan Jasmani dan Olahraga
                                    {% endif %}
                                </div>
                                <div class="font-plusjakarta text-netral-400 text-base">
                                    {% if current_mapel == 'pkn' %}
                                    Mata pelajaran <b>Pendidikan Kewarganegaraan</b> memiliki keterkaitan dengan {{ countMapel.PKN | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'bin' %}
                                    Mata pelajaran <b>Bahasa Indonesia</b> memiliki keterkaitan dengan {{ countMapel.BIN | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'big' %}
                                    Mata pelajaran <b>Bahasa Inggris</b> memiliki keterkaitan dengan {{ countMapel.BIG | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'ipa' %}
                                    Mata pelajaran <b>Ilmu Pengetahuan Alam</b> memiliki keterkaitan dengan {{ countMapel.IPA | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'ips' %}
                                    Mata pelajaran <b>Ilmu Pengetahuan Sosial</b> memiliki keterkaitan dengan {{ countMapel.IPS | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'mtk' %}
                                    Mata pelajaran <b>Matematika</b> memiliki keterkaitan dengan {{ countMapel.MTK | length }} mata pelajaran lain.
                                    {% elif current_mapel == 'pjo' %}
                                    Mata pelajaran <b>Pendidikan Jasmani dan Olahraga</b> memiliki keterkaitan dengan {{ countMapel.PJO | length }} mata pelajaran lain.
                                    {% endif %}
                                </div>
                            </div>
    
                            <div class="">
                                <div class="font-plusjakarta font-semibold text-netral-500 text-base mb-1">Apa yang harus dilakukan pendidik?</div>
    
                                <div class="font-plusjakarta font-base text-netral-400">
                                        Pendidik dapat menjadikan hasil analisis nilai hasil belajar peserta didik ini sebagai acuan dalam pelaksanaan pembelajaran dan asesmen dengan pendekatan <i class="font-semibold">teaching at the right level</i>. (Baca selengkapnya: <a href="" class="text-primary-600 underline">Pembelajaran Sesuai dengan Tingkat Kesiapan dan Pemahaman Peserta Didik – Merdeka Mengajar (kemdikbud.go.id)</a>)
                                </div>
                            </div>
                        </div>
                        <!-- End Main Result Area -->

                        <!-- Keterkaitan Mata Pelajaran Area -->
                        <div class="">
                            <!-- Heading Mata Pelajaran -->
                            <div class="font-plusjakarta font-semibold text-base text-netral-500 mb-3">
                                Keterkaitan Mata Pelajaran ({% if current_mapel == 'pkn' %}{{ countMapel.PKN | length }}{% elif current_mapel == 'bin' %}{{ countMapel.BIN | length }}{% elif current_mapel == 'big' %}{{ countMapel.BIG | length }}{% elif current_mapel == 'ipa' %}{{ countMapel.IPA | length }}{% elif current_mapel == 'ips' %}{{ countMapel.IPS | length }}{% elif current_mapel == 'mtk' %}{{ countMapel.MTK | length }}{% elif current_mapel == 'pjo' %}{{ countMapel.PJO | length }}{% endif %})
                            </div>
                            <!-- End Heading Mata Pelajaran -->

                            <!-- Row Mata Pelajaran -->
                            <div class="grid gap-3">
                                {% for mapel in countMapel[current_mapel|upper] %}
                                <!-- Container Mata Pelajaran -->
                                <div class="py-6 px-8 rounded-lg bg-grey-100 border border-grey-200">
                                    <div class="mb-6">
                                        <div class="flex items-center mb-2">
                                            <img src="../assets/img/{% if mapel == 'PKN' %}mp-1{% elif mapel == 'BIN' %}mp-2{% elif mapel == 'BIG' %}mp-3{% elif mapel == 'IPA' %}mp-4{% elif mapel == 'IPS' %}mp-5{% elif mapel == 'MTK' %}mp-6{% elif mapel == 'PJO' %}mp-7{% endif %}.svg" alt="" class="w-8 mr-3">
                                            <div class="font-plusjakarta font-semibold text-base">
                                                {% if mapel == 'PKN' %}
                                                Pendidikan Kewarganegaraan
                                                {% elif mapel == 'BIN' %}
                                                Bahasa Indonesia
                                                {% elif mapel == 'BIG' %}
                                                Bahasa Inggris
                                                {% elif mapel == 'IPA' %}
                                                Ilmu Pengetahuan Alam
                                                {% elif mapel == 'IPS' %}
                                                Ilmu Pengetahuan Sosial
                                                {% elif mapel == 'MTK' %}
                                                Matematika
                                                {% elif mapel == 'PJO' %}
                                                Pendidikan Jasmani dan Olahraga
                                                {% endif %} 
                                            </div>
                                        </div>

                                        <div class="font-plusjakarta font-base text-netral-400">
                                            Mata pelajaran <b>{% if current_mapel == 'pkn' %} Pendidikan Kewarganegaraan {% elif current_mapel == 'bin' %} Bahasa Indonesia {% elif current_mapel == 'big' %} Bahasa Inggris {% elif current_mapel == 'ipa' %} Ilmu Pengetahuan Alam {% elif current_mapel == 'ips' %} Ilmu Pengetahuan Sosial {% elif current_mapel == 'mtk' %} Matematika {% elif current_mapel == 'pjo' %} Pendidikan Jasmani dan Olahraga {% endif %}</b> memiliki keterkaitan dengan mata pelajaran <b>{% if mapel == 'PKN' %} Pendidikan Kewarganegaraan {% elif mapel == 'BIN' %} Bahasa Indonesia {% elif mapel == 'BIG' %} Bahasa Inggris {% elif mapel == 'IPA' %} Ilmu Pengetahuan Alam {% elif mapel == 'IPS' %} Ilmu Pengetahuan Sosial {% elif mapel == 'MTK' %} Matematika {% elif mapel == 'PJO' %} Pendidikan Jasmani dan Olahraga {% endif %}</b>.
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="font-plusjakarta font-semibold text-netral-500 text-base mb-1">Apa artinya?</div>
            
                                        <div class="font-plusjakarta font-base text-netral-400">
                                            Peserta didik yang memiliki nilai hasil belajar tinggi pada mata pelajaran {% if current_mapel == 'pkn' %} Pendidikan Kewarganegaraan {% elif current_mapel == 'bin' %} Bahasa Indonesia {% elif current_mapel == 'big' %} Bahasa Inggris {% elif current_mapel == 'ipa' %} Ilmu Pengetahuan Alam {% elif current_mapel == 'ips' %} Ilmu Pengetahuan Sosial {% elif current_mapel == 'mtk' %} Matematika {% elif current_mapel == 'pjo' %} Pendidikan Jasmani dan Olahraga {% endif %} <b>cenderung</b> memiliki nilai hasil belajar yang juga tinggi pada mata pelajaran {% if mapel == 'PKN' %} Pendidikan Kewarganegaraan {% elif mapel == 'BIN' %} Bahasa Indonesia {% elif mapel == 'BIG' %} Bahasa Inggris {% elif mapel == 'IPA' %} Ilmu Pengetahuan Alam {% elif mapel == 'IPS' %} Ilmu Pengetahuan Sosial {% elif mapel == 'MTK' %} Matematika {% elif mapel == 'PJO' %} Pendidikan Jasmani dan Olahraga {% endif %}.
                                        </div>
                                    </div>
                                </div>
                                <!-- End Container Mata Pelajaran -->
                                {% endfor %}
                            </div>
                            <!-- End Row Mata Pelajaran -->
                        </div>
                        <!-- End Keterkaitan Mata Pelajaran Area -->
                    </div>
                    <!-- End Result Area -->
                </div>
                <!-- End Side Right Area -->
            </div>
            <!-- End Container -->
        </div>

        <!-- Footer -->
        <div class="py-10 text-center font-plusjakarta text-base text-netral-400 border-t">
            Implementasi Algoritma ECLAT untuk Analisis Hasil Pembelajaran Siswa pada Nilai Rapor Siswa SMP berbasis Web
        </div>
        <!-- End Footer -->
    </body>
</html>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const menuOut = document.getElementById("menu-out");

    // Toggle menu visibility when the menu button is clicked
    menuBtn.addEventListener("click", (event) => {
        event.stopPropagation();
        menuOut.classList.toggle("hidden");
    });

    // Hide menu when clicking outside of it
    document.addEventListener("click", (event) => {
        if (!menuOut.contains(event.target) && !menuBtn.contains(event.target)) {
            menuOut.classList.add("hidden");
        }
    });
});
</script>