<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Riwayat</title>
        <link rel="icon" type="image/x-icon" href="../assets/img/SchoolIcon.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="w-full mt-10 mb-20">
            <!-- Container -->
            <div class="w-container flex m-auto">
                <!-- Side Left Area -->
                <div class="w-sideleft mr-20">
                    <!-- Main Menu Area -->
                    <div class="mb-6">
                        <a href="/analisis">
                            <div class="py-3 px-5 border rounded-lg mb-3">
                                <div class="flex items-center">
                                    <img src="../assets/img/badge.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Analisis Nilai Hasil Belajar</div>
                                </div>
                            </div>
                        </a>

                        <a href="/riwayat">
                            <div class="py-3 px-5 border rounded-lg border-primary bg-primary-100 mb-3">
                                <div class="flex items-center">
                                    <img src="../assets/img/history.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Riwayat</div>
                                </div>
                            </div>
                        </a>

                        <a href="/kelas">
                            <div class="py-3 px-5 border rounded-lg bg-white">
                                <div class="flex items-center">
                                    <img src="../assets/img/kelas.svg" alt="" class="mr-2">
                                    <div class="font-plusjakarta text-netral-500 text-base">Kelas</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Main Menu Area -->

                    <!-- List Mata Pelajaran Area -->
                    <div>
                        <!-- Heading List Mata Pelajaran -->
                        <div class="font-plusjakarta text-base font-semibold text-netral-500 mb-3">
                            Mata Pelajaran (7)
                        </div>
                        <!-- End Heading List Mata Pelajaran -->

                        <!-- List Mata Pelajaran -->
                        <div>
                            <!-- Mata Pelajaran -->
                            <a href="/mapel/pkn">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-1.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Pendidikan Kewarganegaraan
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.PKN | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/bin">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-2.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Bahasa Indonesia
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.BIN | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/big">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-3.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Bahasa Inggris
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.BIG | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/ipa">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-4.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Ilmu Pengetahuan Alam
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.IPA | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/ips">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-5.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Ilmu Pengetahuan Sosial
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.IPS | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/mtk">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-6.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Matematika
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.MTK | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->

                            <!-- Mata Pelajaran -->
                            <a href="/mapel/pjo">
                                <div class="border p-4 rounded-lg mb-3">
                                    <div class="flex items-center">
                                        <img src="../assets/img/mp-7.svg" alt="" class="mr-3">
                                        <div>
                                            <div class="font-plusjakarta font-semibold text-base mb-2 text-netral-500">
                                                Pendidikan Jasmani dan Olahraga
                                            </div>
                                            <div class="flex items-center">
                                                <img src="../assets/img/right arrow.svg" alt="" class="mr-1">
                                                <div class="font-plusjakarta text-xs text-netral-400">
                                                    {{ countMapel.PJO | length }} keterkaitan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Mata Pelajaran -->
                        </div>
                        <!-- End List Mata Pelajaran -->
                    </div>
                    <!-- End List Mata Pelajaran Area -->
                </div>
                <!-- End Side Left Area -->

                <!-- Side Right Area -->
                <div class="w-sideright">
                    <!-- Account Area -->
                    <div class="flex items-center mb-10 relative">
                        <div class="flex items-center">
                            <img src="../assets/img/profile.svg" alt="" class="mr-2">
                            <div class="font-plusjakarta font-semibold text-base text-netral-500">
                                {{ username }}
                            </div>
                        </div>

                        <img src="../assets/img/Menu.svg" alt="" class="ml-auto cursor-pointer" id="menu-btn">

                        <div class="py-3 px-5 bg-white hover:bg-grey-100 border rounded-lg absolute right-0 top-10 hidden" id="menu-out">
                            <a href="/logout" class="flex items-center ">
                                <img src="../assets/img/logout.svg" alt="" class="mr-1">
                                <div class="font-plusjakarta text-base text-danger">
                                    Keluar
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Account Area -->

                    <!-- Main Riwayat Area -->
                    <div>
                        <!-- Heading Main Riwayat -->
                        <div class="mb-10">
                            <div class="font-plusjakarta font-semibold text-netral-500 text-2xl mb-1">Riwayat Analisis Nilai Hasil Belajar ({{ dataRiwayat | length }})</div>
                            <div class="font-plusjakarta text-netral-400 text-base">Berikut ini hasil analisis nilai hasil belajar peserta didik yang telah dilakukan sebelumnya.</div>
                        </div>
                        <!-- End Heading Main Riwayat -->

                        {% if dataRiwayat %}
                        <!-- List Riwayat Area -->
                        <div class="grid gap-3">
                            {% for riwayat in dataRiwayat %}
                            <!-- Riwayat -->
                            <a href="/riwayat/{{ riwayat.id_riwayat }}">
                                <div class="bg-grey-100 border border-grey-200 p-4 rounded-lg">
                                    <div class="flex">
                                        <div class="flex items-center">
                                            <img src="../assets/img/student.svg" alt="" class="mr-3">
                                            <div>
                                                <div class="font-plusjakarta font-semibold text-base text-netral-500">{{ riwayat.nama_siswa }}</div>
                                                <div class="font-plusjakarta text-netral-400 text-xs">{{ riwayat.kelas }}</div>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center ml-auto">
                                            <img src="../assets/img/date.svg" alt="" class="mr-1">
                                            <div class="font-plusjakarta text-base text-netral-400">
                                                {{ riwayat.date }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Riwayat -->
                             {% endfor %}
                        </div>
                        <!-- End List Riwayat Area -->
                        {% else %}
                        <!-- Riwayat Not Found -->
                        <div class="px-6 pt-6 pb-8 bg-alert-100 rounded-xl border border-alert-300">
                            <div class="flex mb-1">
                                <img src="../assets/img/alertMark.svg" alt="" class="mr-1">
                                <div class="font-plusjakarta font-semibold text-base text-alert-600">
                                    Riwayat tidak ditemukan!
                                </div>
                            </div>
                            <div class="font-plusjakarta text-base mb-3 text-alert-600">
                                Anda belum pernah melakukan analisis nilai hasil belajar.
                            </div>
                            <a href="/analisis">
                            <button class="font-plusjakarta font-semibold text-sm text-white bg-alert px-4 py-3 w-full rounded hover:bg-alert-600">Analisis Nilai Hasil Belajar</button></a>
                        </div>
                        <!-- End Riwayat Not Found -->
                        {% endif %}
                    </div>
                    <!-- End Main Riwayat Area -->
                </div>
                <!-- End Side Right Area -->
            </div>
            <!-- End Container -->
        </div>

        <!-- Footer -->
        <div class="py-10 text-center font-plusjakarta text-base text-netral-400 border-t">
            Implementasi Algoritma ECLAT untuk Analisis Hasil Pembelajaran Siswa pada Nilai Rapor Siswa SMP berbasis Web
        </div>
        <!-- End Footer -->
    </body>
</html>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const menuOut = document.getElementById("menu-out");

    // Toggle menu visibility when the menu button is clicked
    menuBtn.addEventListener("click", (event) => {
        event.stopPropagation();
        menuOut.classList.toggle("hidden");
    });

    // Hide menu when clicking outside of it
    document.addEventListener("click", (event) => {
        if (!menuOut.contains(event.target) && !menuBtn.contains(event.target)) {
            menuOut.classList.add("hidden");
        }
    });
});
</script>